<template>
  <div id="app">
    <services></services>
  </div>
</template>

<script>
  import Services from './Services.vue'
  export default {
    components: {
      Services
    }
  }
</script>
<style>
  body {
    margin-top: 50px
  }
</style>